@font-face {
  font-family: Montserrat;
  src: url(Montserrat.ttf);
}

* {
  box-sizing: border-box;
}



body {
  background-color: #eeeeee;
  font-family: Montserrat;
  margin: 0px;
}

.barra {
  background-color: #FFE600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barratotal {
  background-color: #FFE600;
  color: black;
  box-shadow: none;


}

.boton-estilo {
  background-color: #FFE600;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 13px;
  text-decoration: dotted;
  cursor: pointer;
  font-family: Montserrat;
}


.contenedorboton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.1);

  width: 600px;
  padding: 4px 20px;

}

.busqueda input[type="search"] {
  display: inline;
  width: 550px;
  font-size: 15px;
  border: none;
  outline: none;
  font-family: Montserrat;

}

.botonbusqueda {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  opacity: 95%;
  border: none;
  padding: 4px 0px;
  border-radius: 2px;
  font-size: 13px;
  text-decoration: dotted;
  cursor: pointer;

}

.enviogratis {
  margin: 0px 30px 0px;

}

.imagenmp {
  display: block;
  max-width: 100%;
  margin: 0px auto;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}



@media (max-width: 620px) {
  .barra {
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 0px;
  }

  .barratotal {
    display: flex;

  }

  .busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border: solid 1.5px;
    border-color: rgb(0, 148, 211);
    width: 600px;
    padding: 4px 20px;

  }

  .busqueda input[type="search"] {
    display: inline;
    width: 550px;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: Montserrat;

  }


  .notificacion {
    display: flex;
    justify-content: flex-start;
    background-color: yellow;
    border: none;

  }


  .busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: solid 1.5px;
    border-color: rgb(0, 148, 211);
    width: 70%;
    padding: 4px 20px;
    margin: 8px 0px 0px 0px;

  }

  .boton-estilo {
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 13px;
    text-decoration: dotted;
    cursor: pointer;
    font-family: Montserrat;
  }

  .imagenmp {
    display: block;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .logo img {
    width: 25%;
    display: none;
  }


  .boton-estilo {
    width: 100%;
    margin-top: 0px;
  }

  .enviogratis {
    display: none;

  }


}


@media (min-width: 600px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .notificacion {

    display: none;
  }

  .boton-estilo {
    width: 100%;
  }
}

.container .card {
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white !important; /* asegura blanco */
}

.container .card img {
  height: 180px;
  object-fit: cover;
}

.card {
  width: 150px;           /* 游녣 tama침o mucho m치s chico */
  border-radius: 10px;
  overflow: hidden;
  background: #fff !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.12);
  margin: 0 auto;         /* centrar */
}

/* Imagen peque침a */
.card img {
  height: 120px;          /* 游녣 imagen m치s chica */
  object-fit: cover;
}

/* Contenido compacto */
.card-body {
  padding: 10px;
}

.card-text {
  font-size: 12px;        /* 游녣 texto m치s chico */
  margin-bottom: 6px;
}

/* Bot칩n m치s chico */
.card .btn {
  font-size: 12px;
  padding: 4px 8px;
  width: 100%;
}

/* columnas ajustadas */
.col-6, .col-md-4, .col-lg-3 {
  flex: 0 0 auto;
  width: auto;            /* 游녣 evitar que se hagan gigantes */
  padding: 5px !important;
}

/* permitir que todas se alineen horizontalmente */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 12px;              /* 游녣 espacio entre tarjetas */
}

